<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>150267985187-mb8dt2bk382j6189o033tl5pfuan1jlf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.150267985187-mb8dt2bk382j6189o033tl5pfuan1jlf</string>
	<key>API_KEY</key>
	<string>AIzaSyAk611ve4zuiTI1lC6b6WdmEzNWU7Ru5e8</string>
	<key>GCM_SENDER_ID</key>
	<string>150267985187</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.artMarket</string>
	<key>PROJECT_ID</key>
	<string>art-market-c662c</string>
	<key>STORAGE_BUCKET</key>
	<string>art-market-c662c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:150267985187:ios:4833627d8f3c17f76f6096</string>
</dict>
</plist>